@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
html,body,#root,.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
  font-family: 'Quicksand', sans-serif;
  background: rgb(100,0,123);
  background: radial-gradient(circle, rgba(100,0,123,1) 0%, rgba(62,20,86,1) 100%);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
